
.img_persona {
    height: 70%;
    width: 27%;
    top: 100px;
    right: 0;
}

.img_persona_invertida {
    display: none;
}

@media(max-width: 940px) {
    .img_persona {
        display: none;
    }

    .img_persona_invertida {
        display: flex;

        position: absolute;
        height: 40%;
        width: 20%;
        bottom: 100px;
        left: 0;
    }
}