.img_persona {
    height: 75%;
    width: 40%;
    top: 100px;
    right: 0;
}

.img_persona_invertida {
    display: none;
}

.landing-texto {
    position: absolute;
    height: 50%;
    width: 40%;
    top: 20%;
    left: 10%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.landing-texto p {
    color: black;
    text-align: center;
    font-size: 42px;
    margin-bottom: 55px;
}

.texto-pequeño {
    font-size: 32px;
}

.btn-azul-verdoso {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    height: 70px;
    width: 300px;
    cursor: pointer;
}


@media(max-width: 940px) {
    .img_persona {
        display: none;
    }

    .img_persona_invertida {
        display: flex;

        position: absolute;
        height: 40%;
        width: 20%;
        bottom: 100px;
        left: 0;
    }

    .landing-texto {
        left: 30%;
    }

    .texto-pequeño {
        width: 100%;
    }
}