.img_persona {
    height: 75%;
    width: 40%;
    top: 100px;
    right: 0;
}

.img_persona_invertida {
    display: none;
}



p{
    font-size: 42px;
}
.landing-texto {
    position: absolute;
    top: 20%; /* Ajusta según donde quieras el texto */
    left: 25%;

    text-align: center;
    color: white;
    font-size: 42px;
    font-weight: bold;
    padding: 1rem;
}


@media(max-width: 940px) {
    .img_persona {
        display: none;
    }

    .img_persona_invertida {
        display: flex;

        position: absolute;
        height: 40%;
        width: 20%;
        bottom: 100px;
        left: 0;
    }
}
