main{

    display: flex;
    width: 100%;
    gap: 50px;

}
.asignaturas{
    display: flex;
    width: 12%;
    height: auto;
    background-color: var(--azul-claro);
    border-right: 2px solid var(--azul-oscuro);
}
.contenedor_pagina{
    display: flex;
    flex-direction: column;
}

.btn-azul-claro{
    height: 50px;
    width: 50px;

}
.contenedor_ruta{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.contenedor_ruta_boton{
    display: flex;
    gap: 30px;
    align-items: center;
}

.filtros_recursos{
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style:none;
    left: 15%;

}

.recurso{
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style:none;
}