main{
    display: flex;
    width: 100%;
    height: 100%;
}

.asignaturas{
    display: flex;
    width: 12%;
    min-width: 200px;
    height: 100%;
    position: sticky;
    background-color: var(--azul-muy-claro);
    border-right: 2px solid var(--azul-oscuro);
}

.contenedor_pagina {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto; /* Centrado horizontal */
}

.opciones {
    height: 50px;
    width: 50px;
    background-color: var(--azul-claro);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px; /* Espacio vertical entre filas */
    width: 100%;
}

table tr:nth-child(odd) {
    background-color: var(--azul-muy-claro);
}

.btn-azul-claro{
    height: 80%;
    width: 50px;

}
.contenedor_ruta{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.contenedor_ruta_boton{
    display: flex;
    gap: 30px;
    align-items: center;
}

.filtros_recursos{
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style:none;
    left: 15%;

}

.recurso{
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style:none;
}