.contenedor_inicio_sesion {
    height: 80%;
    width: 40%;
    background-color: white;
    border: 1px solid var(--gris-oscuro);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_inicio_sesion h1 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.contenedor_inicio_sesion ul {
    width: 70%;
}

.contenedor_inicio_sesion ul li {
    display: flex;
    flex-direction: column;
}

.contenedor_inicio_sesion ul li label {
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin-bottom: 2px;
}

.contenedor_inicio_sesion ul li input {
    padding: 10px;
    border: 1px solid var(--gris-oscuro);
    background-color: var(--blanco-1);
    border-radius: 5px;
}

.contenedor_inicio_sesion ul li:last-child {
    margin: 70px 0 40px 0;
}

.btn-azul-verdoso {
    width: 30%;
    height: 10%;
    margin-bottom: 10px;

    position: relative;
}

.contenido_final {
    width: 70%;
}

.contenido_final a {
    text-align: center;
}

.contenedor_inicio_sesion a p {
    color: black;
}

.contenedor_inicio_sesion a:hover {
    text-decoration: underline var(--azul-verdoso) ;
}

.parrafo_verde {
    color: var(--azul-verdoso);
}

.mensaje-error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    visibility: hidden;
}
