main {
    display: flex;
    flex-direction: column;
}

.contenedor_global {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.credenciales {
    background-color: var(--azul-no-tan-verdoso);
    border-radius: 20px;
    padding: 1em 3em;
    margin-bottom: .75em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separador li:last-child {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

li {
    list-style: none;
}

p {
    color: black;
}

.usuario {
    font-weight: bold;
    text-decoration: underline;
}

.dato {
    font-weight: bold;
}

.botones_datos {
    display: flex;
    flex-direction: column;
}

.botones_datos button {
    margin: .25em 0;
}

.btn-azul-verdoso p {
    color: white;
}

.contenedor_img {

}

.datos_demo {

}

.descripcion {

}