.img_persona {
    height: 60%;
    width: 18%;
    bottom: -50px;
    right: 170px;
    z-index: 2;
    position: absolute;
}

.contenedor_registro {
    height: 80%;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: 1;
    max-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_registro h1 {
    margin-bottom: 40px;
}

.contenedor_div_formulario {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contenedor_1_formulario,
.contenedor_2_formulario {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_1_formulario p,
.contenedor_2_formulario p {
    color: black;
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 2px;
}

.contenedor_1_formulario input,
.contenedor_2_formulario input {
    margin-bottom: 25px;
    width: 80%;
    padding: 10px;
    border: 1px solid var(--gris-oscuro);
    background-color: var(--blanco-1);
    border-radius: 5px;
}

/* Estilo para el botón y enlace */
.contenedor_registro button {
    margin-top: 10px;
    width: 30%;
}

.contenedor_registro a {
    margin-top: 10px;
    text-align: center;
}

.contenedor_registro a:hover {
    text-decoration: underline var(--azul-verdoso);
}

.contenedor_registro a p {
    color: black;
}

.parrafo_verde {
    color: var(--azul-verdoso);
}

@media (max-width: 940px) {
    .contenedor_registro {
        height: 85%;
        max-height: 700px;
    }

    .contenedor_registro h1 {
        margin-bottom: 20px;
    }

    .contenedor_div_formulario {
        flex-direction: column;
        align-items: center;
    }

    .contenedor_1_formulario,
    .contenedor_2_formulario {
        width: 90%;
    }

    .contenedor_registro button {
        width: 40%;
    }

    .contenedor_1_formulario input,
    .contenedor_2_formulario input {
        height: 30px;
        margin-bottom: 15px;
    }

    .img_persona {
        height: 40%;
        width: 30%;
        right: 40px;
    }
}

@media (max-width: 1600px) {
    .img_persona {
        width: 25%;
        height: 55%;
    }
}

@media (max-width: 768px) {
    .contenedor_registro {
        background-color: transparent;
        border: none;
        width: 90%;
        height: auto;
        position: static;
        transform: none;
        padding: 20px 0;
    }

    .contenedor_registro h1 {
        margin-bottom: 20px;
    }

    .contenedor_1_formulario,
    .contenedor_2_formulario {
        width: 100%;
    }

    .contenedor_registro button {
        width: 80%;
    }

    .fondo_landing {
        display: none;
    }
}